body {
    font-family: Roboto, sans-serif;
}

/* header related classes */

.header-nav {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    padding-left: 76px;
    padding-right: 76px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.header-signup {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 82px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animevillage {
    width: 400px;
    display: block;
    border: solid 1px white;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    padding: 10px;
    margin: 0;
    font-size: 32px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0;
}